# ========================================
# Python Build & Cache Files
# ========================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Bytecode / Compiled Extensions
*.so
*.pyd
*.dll

# Packaging / Distribution
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg
*.whl
*.manifest
*.spec

# Logs / Reports
*.log
*.tmp
pip-log.txt
pip-delete-this-directory.txt
coverage.xml
*.cover
*.py,cover
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
cover/
.mypy_cache/
.dmypy.json
.pytype/
.pyre/

# IDE / Editor
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject

# Documentation
docs/_build/
site/

#Roh-Daten
Behavioural_Cloning_Basic/data/Recordings/Video/
Behavioural_Cloning_Basic/data/Recordings/TabData/

# ========================================
# Projekt-spezifische Excludes
# ========================================

# --- Modelle & Gewichte ---
# (Culan & Tusimple → nicht versionieren)
Behavioural_Cloning_Basic/LaneDetection/weights/*.pth
weights/*.pth

# --- Cache-Ordner vom Modell ---
LaneDetection/model/__pycache__/
LaneDetection/utils/__pycache__/

# --- Prozessierte/ temporäre Daten (optional) ---
# Falls du Demo-Bilder renderst o.ä.
LaneDetection/output/
LaneDetection/tmp/

# --- Prozessierte/dynamische Daten ---
Behavioural_Cloning_Basic/data/Processed/frames/
Behavioural_Cloning_Basic/data/Processed/seg_masks/
Behavioural_Cloning_Basic/data/Processed/LaneDetection/
Behavioural_Cloning_Basic/data/tmp/
Behavioural_Cloning_Basic/data/test/
Behavioural_Cloning_Basic/data/Processed/test_labels.mp4
# ========================================
# System Files
# ========================================
.DS_Store
Thumbs.db
desktop.ini

# Optional — Jupyter
.ipynb_checkpoints/