addict==2.4.0
mmcv==2.2.0
numpy==2.3.5
opencv_python==4.10.0.84
pandas==2.3.3
pathspec==0.12.1
Pillow==12.0.0
plotly==6.4.0
torch==2.4.0+cu121
torchvision==0.19.0+cu121
tqdm==4.67.1
visiongraph_ndi==0.1.1
